{% extends 'base_template.html' %}
{% load static %}
{%block head%}
{%endblock%}
{%block navimenu%}
  <li class="breadcrumb-item"><a href="{% url 'mainapp:main' %}">Главная</a></li>
  <li class="breadcrumb-item"><a href="{% url 'ticketsapp:list_tickets' %}">Заявки</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ pagename }} </li>
{%endblock%}

{%block header%}
<h2 style="margin-left: 20px;">{{ pagename }}</h2>
{%endblock%}

{%block body%}
<div class="">


<div class = "col-md-12">
    <table id="example" class="table table-hover" style="width:100;">
            <thead>
                <tr>
                    <th>-</th>
                    <th class="text-center">ФИО</th>
                    <th class="text-center">Начало срока действия</th>
                    <th class="text-center">Окончание срока действия</th>
                    <th class="text-center">Добавлен</th>
                    <th class="text-center">Сертификат</th>
                </tr>
            </thead>
            <tbody>
                  {% for certificate in certs_list %}

                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ certificate.pk }}">{{ certificate.fullname }} </a></td>
                    <td class="text-center">{{ certificate.validate_start_date |date:"Y-m-d" }}</td>
                    <td class="text-center">{{ certificate.validate_end_date |date:"Y-m-d" }} </td>
                    <td class="text-center">{{ certificate.adddate |date:"Y-m-d" }}</td>
                    <td class="text-center"><a href="/media/{{ certificate.cert_file }}">Скачать</td>
                  </tr>

                  {% endfor %}

            </tbody>
        </table>
</div>
</div>

{%endblock body%}

{%block scripts%}
<script type="text/javascript" language="javascript" src={% static "base_js/jquery-3.3.1.min.js" %}></script>
<script type="text/javascript" language="javascript" src={% static "base_js/jquery.dataTables.min.js"%} ></script>
<script type="text/javascript" language="javascript" src={% static "base_js/dataTables.bootstrap4.min.js"%} ></script>
<script type="text/javascript" language="javascript" src={% static "base_js/dataTables.settings.js"%} ></script>
{%endblock scripts%}
